.appContainer {
  display: flex;
  flex-flow: column nowrap;

  margin-bottom: 54px;
  height: 100%;
}

.sorterContainer {
  flex-grow: 1;
}

.footer {
  justify-content: center;

  &> button {
    margin: 0 10px;
  }
}