.appContainer {
  display: flex;
  flex-flow: column nowrap;

  margin-bottom: 54px;
  height: 100%;
}

.sorterContainer {
  flex-grow: 1;
}

.algorithmSelection {
  position: absolute;
  top: 10px;
  left: 50%;
}

.sorterWrapper {
  width: 100%;
  height: 100%;
}